<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login Page</h1>
        <form action="" method="POST">
            <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
            <input type="text" placeholder="Password" name="password" value="{{ request.form.password }}">
            <input type="submit" value="Login">
        </form>
        {% if error %}
            <p><strong>Error:</strong> {{ error }}</p>
        {% endif %}
    </body>
</html>